<!DOCTYPE html>
<html lang="ja">

<head>
        <meta charset="UTF-8">
        <title>競馬アプリ</title>
        <link rel="stylesheet" href="css/home.css">
</head>

<body>
        <div class="user-info">
                <span class="user-id">12345678</span>
                <span class="user-name">ユーザネーム</span>
        </div>

        <div class="center-container">
                <button class="main-button">馬券を買う</button>
                <button class="main-button">ランキング</button>
                <button class="main-button">マイページ</button>
                <button class="logout-button">ログアウト</button>
        </div>
</body>

</html>
