<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>三連単</title>
    <link rel="stylesheet" href="static/css/display_race2.css">
</head>
<body>

    <header>
      <h1>三連単</h1>
      <div class="coin-box">{{current_coin}}</div>
    </header>

    <div class="race-info">レースの環境　天気など</div>

    <form method="POST" action="{% url 'submit_race2' %}">
    {% csrf_token %}

    <p>1着を選択</p>
    <select name="rank1" required>
        <option value="">選択</option>
        {% for i in lanes %}
            <option value="{{ i }}">{{ i }}レーン</option>
        {% endfor %}
    </select>

    <p>2着を選択</p>
    <select name="rank2" required>
        <option value="">選択</option>
        {% for i in lanes %}
            <option value="{{ i }}">{{ i }}レーン</option>
        {% endfor %}
    </select>

    <p>3着を選択</p>
    <select name="rank3" required>
    <option value="">選択</option>
        {% for i in lanes %}
            <option value="{{ i }}">{{ i }}レーン</option>
        {% endfor %}
    </select>

    <p>賭けるコイン枚数</p>
    <input type="number" name="coin" min="1" required> 枚

    <br><br>
    <button type="submit">レーススタート</button>
  </form>

  <br>
  <a href="{% url 'home' %}"><button>戻る</button></a>

</body>
</html>