<!--
    Designer: Kuraishi Sora
    Date: 2025/07/15
    Description: フレンド申請を行うためのhtmlファイル
    Note: このファイルは, フレンド申請を行いたいユーザを指定し、そのユーザに対してフレンド申請を送るhtmlテンプレート.
-->

{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>フレンド申請</title>
        <link rel="stylesheet" href="{% static 'css/friend-request.css' %}" />
</head>

<body>
        <div class="modal-container">
                <div class="modal-header">
                        <h2>フレンド申請を送る</h2>
                        <a href="{% url 'friend_registration' %}" class="close-button">×</a>
                </div>
                <div class="modal-body">
                        <p>ユーザーIDを入力</p>
                        <form action="" method="post">
                                {% csrf_token %}
                                <input type="text" class="user-id-input" name="user_id" placeholder="ユーザーID" required />
                                <button type="submit" class="submit-button">申請</button>
                        </form>

                        {% if message %}
                        <p class="message">{{ message }}</p>
                        {% endif %}
                </div>
        </div>
</body>

</html>
