<!--
    Designer: Shunsuke MOROZUMI
    Date: 2025/06/17
    Description: ホーム画面のhtmlファイル
    Note: このファイルは, ユーザーのホーム画面を表示するためのHTMLテンプレート.
-->

{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ホーム</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <!-- Debug -->
    <!-- <link rel="stylesheet" href="static/css/home.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="header">
        <div class="user-info">
            <div class="user-box"><i class="fa-solid fa-id-badge"></i> 00001234</div>
            <div class="user-box"><i class="fa-solid fa-user"></i> username</div>
        </div>

        <div class="coin-info">
            <div class="user-box"><i class="fa-solid fa-coins"></i> コイン：0000001000</div>
        </div>
    </div>

    <main class="container">
        <a href="#" class="button"><i class="fa-solid fa-ticket"></i> 馬券を買う</a>
        <a href="{% url 'ranking' %}" class="button"><i class="fa-solid fa-ranking-star"></i> ランキング</a>
        <a href="{% url 'mypage' %}" class="button"><i class="fa-solid fa-user-circle"></i> マイページ</a>
        <a href="#" class="button-small"><i class="fa-solid fa-right-from-bracket"></i> ログアウト</a>
    </main>
</body>
</html>